body {
    background-color: beige;
}

.paragraph-font {
    font-size: 20px;
}

p>span {
    font-style: italic;
}

p>span:last-child {
    text-decoration: underline;
}

.list-font {
    font-size: 25px;
}

.heading-padding {
    padding-bottom: 10px;
}

#main-heading {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.unordered-list {
    list-style-image: url('../images/list-icon1.png');
}

.ordered-list {
    list-style-type: lower-roman;
}

.special {
    font-style: normal;
    color: red;
}